.main-container {
  margin: 40px 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .carousel-container {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .carousel-container .carousel-controls {
  position: absolute;
  z-index: 20000;
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .carousel-container .carousel-controls .control {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: orange;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-container .carousel-container .carousel-controls .control:hover {
  background-color: orangered;
}

.main-container .carousel-container .carousel-controls .control:active {
  background-color: orange;
}

.main-container .carousel-container .carousel-controls .control.disabled {
  pointer-events: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.main-container .carousel-container .slides-container {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: orange;
}

.main-container .carousel-container .slides-container .slide {
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 4rem;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #2e2b31;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

.main-container .carousel-container .slides-container .slide .slide-content {
  position: absolute;
  width: 110%;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .carousel-container .slides-container .slide .slide-content p {
  margin: 10px;
}

.main-container .carousel-container .slides-container .slide .slide-content .cover {
  position: absolute;
  background-color: white;
  width: 110%;
  height: 110%;
  opacity: 0;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}
/*# sourceMappingURL=carousel4.css.map */